:root {
  --offwhite: #ecebe9;
  --darkPurple: #762c61;
  --whiteApp: #fffaf8;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px 30px 30px;
  border-radius: 16px;
  background-color: var(--whiteApp);
  width: 100vw;
  height: 90vh;
}

.logotipo {
  width: 113px;
  height: 104px;
  align-items: center;
}

.logotipo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  align-items: center;
}

.container h1 {
  color: var(--darkPurple);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.container .input-field {
  position: relative;
  width: 70vw;
  height: 8vh;
  margin: 20px auto;
}

.input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #dddddd;
  outline: none;
  border-radius: 56px;
  font-size: 16px;
  padding: 20px 20px;
}

.input-field input::placeholder {
  color: var(--darkPurple);
}

.input-field .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.container .button {
  border-radius: 8px;
  background-color: var(--darkPurple);
  color: var(--offwhite);
  width: 150px;
  height: 43px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  opacity: 0.9;
}

.container .signup-link {
  text-align: center;
  margin: 20px;
  font-weight: 600;
}

.container .signup-link a {
  text-decoration: none;
}

.container .signup-link a:hover {
  text-decoration: underline;
}
